In [1]:
print("Hello World!")

Hello World!

In [2]:
print("I am new to Python")
print("Python is cool!")

I am new to Python
Python is cool!

In [3]:
x = 2
y = 3
sum = x + y
print(sum)

5

In [4]:
x = 100
y = 50

In [5]:
id(x)

1532328512

In [6]:
id(y)

1532326912

In [7]:
type(x)

int

In [8]:
type(y)

int

In [9]:
x = x + 1.11
print(x)
type(x)

101.11

float

In [10]:
id(x)

1993562268512

In [11]:
x = "hundred"
print(x)
type(x)

hundred

str

In [12]:
id(x)

1993562533312

In [13]:
a = 123

In [14]:
b = 123

In [15]:
id(a)

1532329248

In [16]:
id(b)

1532329248

In [1]:
biology_marks = 82
physics_marks = 91
maths_marks = 96
chemistry_marks = 88
total_marks = biology_marks + physics_marks + maths_marks + chemistry_marks
print(total_marks)

357

In [2]:
total_marks = biology_marks + \
physics_marks + \
maths_marks + \
chemistry_marks
print(total_marks)

357

In [3]:
num = 8
   num_sq = num ** 2
print(num_sq)

IndentationError: unexpected indent (<ipython-input-3-8fde8194c97c>, line 2)

In [4]:
num = 8
num_sq = num ** 2
print(num_sq)

64